.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $background-color;

  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: $primary-color;
  }

  .heart-animation {
    font-size: 5rem;
    color: $primary-color;
  }
}